* {
	box-sizing: border-box;
	font-family: Raleway, sans-serif;
}
.project {
	color: white;
	display: flex;
	height: 100vh;
	padding: 0 12rem;
	padding-top: 10rem;
	overflow-x: hidden;
}

.project-image {
	width: 700px;
	height: 400px;
	border-radius: 20px;
	transition: box-shadow 0.3s ease;
	box-shadow:
		0 2.8px 2.2px rgba(211, 211, 211, 0.02),
		0 6.7px 5.3px rgba(211, 211, 211, 0.028),
		0 12.5px 10px rgba(211, 211, 211, 0.035),
		0 22.3px 17.9px rgba(211, 211, 211, 0.042),
		0 41.8px 33.4px rgba(211, 211, 211, 0.05),
		0 100px 80px rgba(211, 211, 211, 0.07);
	cursor: pointer;
}
.project-image:hover {
	box-shadow:
		0 2.8px 2.2px rgba(256, 256, 256, 0.02),
		0 6.7px 5.3px rgba(256, 256, 256, 0.028),
		0 12.5px 10px rgba(256, 256, 256, 0.035),
		0 22.3px 17.9px rgba(256, 256, 256, 0.042),
		0 41.8px 33.4px rgba(256, 256, 256, 0.05),
		0 100px 80px rgba(256, 256, 256, 0.07);
}
h2 {
	font-size: 32px;
}
.project-info {
	width: 100%;
	padding-top: 2rem;
	padding-left: 5rem;
}

.project-description {
	font-size: 16px;
	font-weight: 300;
	color: darkgrey;
}
h3 {
	margin-bottom: 3px;
}
.tools-used {
	margin: 0;
	margin-bottom: 15px;
}
.tools-used li {
	padding-top: 3px;
}

button {
	font-weight: 300;
	background-color: white;
	color: #121212;
	height: 40px;
	width: 100px;
	border-radius: 20px;
	margin-right: 1rem;
	font-size: 1rem;
	border: none;
	outline: none;
	cursor: pointer;
}
button:hover {
	transform: scale(1.05);
	transition: 0.3s;
}

@media (max-width: 1180px) {
	.project-image {
		width: 500px;
		height: 300px;
	}
	.project-info {
		padding-left: 3rem;
	}
}
@media (max-width: 941px) {
	.project-info {
		padding-left: 2rem;
	}
	h2 {
		font-size: 24px;
	}
	.project-description {
		font-size: 12px;
	}
	.tools-used li {
		font-size: 12px;
	}
	button {
		font-size: 12px;
		width: 80px;
	}
}

@media (max-width: 885px) {
	.project-image {
		width: 300px;
		height: 200px;
	}
	.project {
		display: block;
		padding: 2rem;
	}
	.project-info {
		width: 100%;
		padding-left: 0;
	}
}
