.about-content-wrapper {
	padding: 0 12rem;
	display: grid;
	grid-template-columns: 56% auto;
	color: white;
	width: 100%;
	align-items: center;
	height: 70vh;
	gap: 6rem;
	overflow: hidden;
	margin-bottom: 4rem;
}
.text-white {
	color: white;
}

.about-content-wrapper > p {
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 300;
	color: #fff;
	margin-bottom: 1rem;
}

@media screen and (max-width: 977px) {
	.about-content-wrapper {
		padding: 0 1rem;
		display: block;
		margin-top: 2rem;
		height: 100%;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.about-content-wrapper > p {
		font-size: 1.2rem;
		width: 100%;
		text-align: justify;
		margin-top: 2rem;
	}
}
