.footer-wrapper{
    padding-top: 15rem;
    height: 100vh;
    color:white;
    text-align: center;
    width: 100%;
}

h1{
    font-size: 60px;
}

footer ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    font-size: 15px;
  
}

footer ul li a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

footer li:hover{
    transform: scale(1.11);
    transition: 0.3s;
}

@media(max-width:770px){
    h1{
        font-size: 38px;
    }
    footer ul{
        margin: 0;
        padding: 0;
        font-size: 14px;
        gap: 1.5rem;
    }

}